{% extends 'base.html' %}

{% block content %}
    
    <div class="container w-25 mx-auto mt-5 p-3 rounded shadow">
        <h2 class="text-secondary text-center mb-3">Login</h2>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" hidden="hidden" class="form-label"></label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="password" hidden="hidden" class="form-label"></label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        {% if error %}
             <h6 class="text-danger text-center mt-2">{{ error }}</h6>
        {% endif %}
    </div>
    
{% endblock %}